/NetBeansProjects/JavaApplication8/nbproject/private/
/NetBeansProjects/ProyectosLaboratorio/build/
/NetBeansProjects/ProyectosLaboratorio/nbproject/private/
/NetBeansProjects/ProyectoProgra/build/
/NetBeansProjects/ProyectoProgra/nbproject/private/
/NetBeansProjects/EjercicioPractico2/build/
